#ordering {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ordering input {
    flex-basis: 90%;
}

#ordering textarea {
    flex-basis: 100%;
}

#message {
    display: flex;
    flex-direction: column;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.input_div {
    margin-bottom: 7px;
}

* {
    font-family: 'Roboto Mono', monospace;
}